.Header {
    display:flex;
    
    align-items: center;
    overflow: hidden;
    
}
.Header h1 {
    color:#404e46;
    font-weight: 300;
    font-size: 40px;
}
.Header p {
    margin:0 15px;
}
.Header img {
    display: block;
    border-radius: 50%;
    width:50px;
    margin-right: 1rem;
}