.Student {
    height: 100vh;
    width: 100%;
    display: flex;
}

.Sidedrawer {
    height: 100%;
    background-color: #f7f7f7;
    width:300px;
}

.Header {
    padding: 10px;
}

.Main {
    display: flex;
    background-color: red;
    flex:1;
}
.Main__right {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}