.Feedbacks {
    border-bottom: 1px solid #ccc;
    padding-left: 1rem;
}
.Feedbacks p{
    line-height: 0;
    font-style: italic;
    color:#404e46;
}
.Feedbacks p:last-child {
    font-size: 10px;
    color:gray;
}

.Feed h2 {
    text-align: center;
    color:#404e46;
    font-weight: 400;
    margin-bottom: 2rem;
}