.Assignments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InComplete h2 {
    color:#404e46;
    font-weight: 400;
}
.InComplete div p {
    font-style: italic;
    font-weight: 300;
    
}
.InComplete div{
    border:1px solid #ecdbdb;
    background-color: #f1e2e2;
    border-radius: 3px;
    padding:5px 10px;
    height: 25px;
    margin-bottom: .5rem;
}