.TeacherList {
    flex:1;
    background-color: #fff;
    border-right: 1px solid #ecdbdb;
}
.TeacherList h2 {
    text-align: center;
    color:#404e46;
    font-weight: 400;
}
.TeacherList ul {
    list-style: none;
    padding:0;
}

.TeacherList ul li a:link,a:visited {
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: .2s;
    
}

.TeacherList ul li a:hover,a.active {
    background-color: #f1e2e2;
}